<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    <title>Hieronymus Bosch</title>
</head>
<body>

        <h1>Works</h1>

        <div class="align-row">
            <a href="/about">About</a>
        <a href="/home">Home</a>
        </div>

        

        <div class="align-row">

            <img src="/images/quadro-dois.jpeg" alt="" srcset="">

        <img src="/images/quadro-tres.jpeg" alt="" srcset="">

        <img src="/images/quadro-quatro.png" alt="" srcset="">

        </div>

        

    
</body>
</html>